* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

/* 픽스드 */
.fixed {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* 스크롤 값 박스 */
.scroll {
    margin: 20px;
    position: fixed;
    color: #444;
    z-index: 10000;
}

/* .container {
    margin: 0 auto;
    width: 1300px;
    height: 100%;
    background: rgba(0,0,0,0.05);
    z-index: 10000;
}

.center_bg {
    width: 100%;
    height: 800px;
    background: rgba(0,0,0,0.05);
    z-index: 10000;
} */
