#intro {
    height: 5000px;
}

/* 인트로 타이틀 */
.intro_title {
    color: #333;
    top: 15%;
    left: 23%;
    font-size: 30px;
    font-weight: 600;
    z-index: 2;
}
.intro_title::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    animation: introTitle 0.5s 0.5s ease-in forwards;
}

@keyframes introTitle {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(220px);
    }
}

/* 타이틀 써클 */
.intro_titleBg {
    top: 10%;
    left: 18%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #aaa;
    opacity: 0;
    z-index: 1;
    animation: appear 0.5s 1.5s ease-in forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 인포 */
.info {
    color: #555;
    font-size: 16px;
    font-weight: 600;
}
.info > em {
    color: #333;
}

.intro_design {
    top: 23%;
    left: 20%;
    opacity: 0;
    animation: sliderLeft01 0.5s 2s ease-out forwards;
}
.intro_email {
    top: 27%;
    left: 24.5%;
    opacity: 0;
    animation: sliderLeft02 0.5s 2.5s ease-out forwards;
}

@keyframes sliderLeft01 {
    0% {
        opacity: 0;
        left: 16.5%;
    }
    100% {
        opacity: 1;
        left: 20%;
    }
}

@keyframes sliderLeft02 {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 24.5%;
    }
}

/* 이미지 */
.intro_image01 {
    top: 55%;
    left: 25.5%;
    background-color: #333;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px #333;
    border: 2px solid #333; 
    background-position: center;
    background-size: cover;
    opacity: 0;
    background-image: url("../img/intro_image01.png");
    animation: slideUp 1s 3s ease-in-out forwards;
}
.intro_image02 {
    top: 55%;
    left: 42%;
    background-color: #333;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px #333;
    border: 2px solid #333; 
    background-position: center;
    background-size: cover;
    opacity: 0;
    background-image: url("../img/intro_image02.png");
    animation: slideUp 1s 4s ease-in-out forwards;
}
.intro_image03 {
    top: 55%;
    left: 58.55%;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px #333;
    border: 2px solid #333; 
    background-position: center;
    background-size: cover;
    opacity: 0;
    background-image: url("../img/intro_image03.png");
    animation: slideUp 1s 5s ease-in-out forwards;
}
.intro_image04 {
    top: 55%;
    left: 75.15%;
    width: 250px;
    height: 400px;
    box-shadow: 0 0 10px #333;
    border: 2px solid #333; 
    background-position: center;
    background-size: cover;
    opacity: 0;
    background-image: url("../img/intro_image04.png");
    animation: slideUp 1s 6s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 1;
        top: 55%;
    }
}

.intro_img {
    transition: box-shadow 0.4s;
}
.intro_img:hover {
    box-shadow: 0 0 30px #aaa;
}

/* 스크롤 다운 */
.scroll-downs {
    top: 90%;
    margin: auto;
    width: 34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #555;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #555;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
