#introduce {}

.introduce_bg {
    width: 100%;
    height: 100vh;
    background-position: cover;
    background-image: url('../img/bottom_bg01.png');
    z-index: -1;
}

.introduce_title {
    font-size: 30px;
    text-transform: uppercase;
}

.introduce_titleLine {
    width: 1px;
    height: 50%;
    background-color: #aaa;
}

.introduce_profile {
    width: 250px;
    height: 350px;
    border-top-right-radius: 50px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/about_profile.jpeg');
}

.introduce_hi {
    font-size: 20px;
}
.introduce_hiIco {
    font-size: 30px;
}
.introduce_desc01 {
    text-decoration: underline;
}
.introduce_desc03 {
    color: rgb(255, 116, 91);
    font-weight: 700;
}
.introduce_desc06-1 {
    width: 280px;
    height: 10px;
    border-radius: 5px;
    background: rgba(255, 116, 91,0.2);
}
.introduce_desc07 {
    font-weight: 700;
}
.introduce_desc10 {
    font-weight: 700;
}
.introduce_desc11 {
    font-size: 14px;
}