/* header와 footer의 css 가 들어있습니다. */

*,
input,
textarea,
button {
    font-family: "SUIT";
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.top > a {
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 10px 30px;
    z-index: 100;
    transition: box-shadow 0.3s;
}
.top > a:hover {
    box-shadow: 0 0 5px #333;
}

/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
    z-index: 10000;
}
#header > .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
#header > .header__inner > .logo {
}
#header > .header__inner > .logo > a {
    color: #333;
    font-size: 20px;
    font-weight: 900;
}
#header > .header__inner > .logo > a > .logo__yellow {
    color: #f29500;
}

/* nav */
#header > .header__inner > .nav {
    text-align: center;
    font-size: 15px;
}
#header > .header__inner > .nav > ul {
}
#header > .header__inner > .nav > ul > li {
    display: inline-block;
}
#header > .header__inner > .nav > ul > li > a {
    color: #666;
    font-weight: 500;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
#header > .header__inner > .nav > ul > li > a:hover {
    background-color: #f29500;
    color: #fff;
}

/* login */
#header > .header__inner > .login {
    text-align: end;
}
#header > .header__inner > .login > label {
}
#header > .header__inner > .login > button {
    color: #f29500;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #f29500;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
#header > .header__inner > .login > button:hover {
    color: #fff;
    background-color: #f29500;
}

/* ham btn */
.ham {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) scale(0.7);
    width: 60px;
    height: 60px;
    cursor: pointer;
    /*   background: rgba(255,255,255,0.3); */
    border-radius: 3px;
}

.ham .bar {
    display: block;
    width: 0px;
    height: 4px;
    border-radius: 3px;
    background-color: #f29500;
    margin-top: 28px;
    margin-left: 9px;
    position: relative;
}
.ham .bar:before {
    content: "";
    width: 42px;
    height: 4px;
    border-radius: 3px;
    background-color: #f29500;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.3s;
}
.ham .bar:after {
    content: "";
    width: 42px;
    height: 4px;
    border-radius: 3px;
    background-color: #f29500;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.3s;
}

.ham.active span:before {
    transform: rotate(45deg);
    transition: transform 0.3s 0.8s;
}

.ham.active span:after {
    transform: rotate(-45deg);
    transition: transform 0.3s 0.8s;
}

.ham:before {
    content: "";
    width: 42px;
    height: 4px;
    background-color: #f29500;
    border-radius: 3px;
    position: absolute;
    right: 9px;
    bottom: 17px;
    transition: width 0.3s 0.4s;
}
.ham:after {
    content: "";
    width: 42px;
    height: 4px;
    background-color: #f29500;
    border-radius: 3px;
    position: absolute;
    left: 9px;
    top: 17px;
    transition: width 0.3s 0.4s;
}

.ham.active:before {
    width: 0;
    right: 9px;
    bottom: 17px;
}
.ham.active:after {
    width: 0;
    left: 9px;
    top: 17px;
}

/* footer */
#footer {
    border-top: 1px solid #dcdcdc;
    background-color: #ffffff;
}
#footer > .footer__inner {
}
#footer > .footer__inner > .footer__top {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
}
#footer > .footer__inner > .footer__top > .footer_logo {
    color: #333;
    font-weight: 800;
    font-size: 25px;
}
#footer > .footer__inner > .footer__top > .footer_logo > em {
    color: #f29500;
}
#footer > .footer__inner > .footer__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
#footer > .footer__inner > .footer__bottom > .footer_info {
    width: 48%;
}
#footer > .footer__inner > .footer__bottom > .footer_info > .info {
    color: #f29500;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
}
#footer > .footer__inner > .footer__bottom > .footer_info > .info > em {
    display: inline-block;
    color: #333;
}
#footer > .footer__inner > .footer__bottom > .footer_info > .footer_sns {
}
#footer > .footer__inner > .footer__bottom > .footer_info > .footer_sns > a {
    font-weight: 500;
    font-size: 14px;
    color: #f29500;
    margin-right: 10px;
}
#footer > .footer__inner > .footer__bottom > .footer_info > .footer_sns > a > img {
    margin-right: 5px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

#footer > .footer__inner > .footer__bottom > .footer_category {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: right;
}
#footer > .footer__inner > .footer__bottom > .footer_category > .category {
    margin-left: 50px;
}
#footer > .footer__inner > .footer__bottom > .footer_category > .category > h4 {
    color: #f29500;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
#footer > .footer__inner > .footer__bottom > .footer_category > .category > ul {
}
#footer > .footer__inner > .footer__bottom > .footer_category > .category > ul > li {
    margin-bottom: 10px;
}
#footer > .footer__inner > .footer__bottom > .footer_category > .category > ul > li > a {
    color: #333;
    font-weight: 500;
    font-size: 14px;
}
#footer > .footer__inner > .footer__bottom > .footer_category > .category > ul > li > a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    #header > .header__inner > .nav {
        position: absolute;
        top: 56px;
        right: -150px;

        height: 100vh;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        text-align: right;
        opacity: 0;

        transition: right 0.4s, opacity 0.3s;
    }
    #header > .header__inner > .nav.show {
        position: absolute;
        top: 56px;
        right: 0;

        height: 100vh;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        text-align: right;
        opacity: 1;

        display: block;
    }
    #header > .header__inner > .nav > ul {
        margin-left: 50px;
    }
    #header > .header__inner > .nav > ul > li {
        display: block;
        margin-bottom: 20px;
    }
    #header > .header__inner > .nav > ul > li:last-child {
        margin-bottom: 0;
    }
    #header > .header__inner > .nav > ul > li > a {
    }
    .login {
        position: absolute;
        right: 70px;
    }
    .ham {
        display: block;
    }
}

@media (max-width: 600px) {
    #header > .header__inner > .logo > a {
        font-size: 15px;
    }
    #header > .header__inner > .nav {
        top: 51px;
    }
    #header > .header__inner > .nav.show {
        top: 51px;
    }
    #header > .header__inner > .login > button {
        font-size: 10px;
    }
    .ham {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%) scale(0.55);
        display: block;
    }
}
