.swiper-slide {
    position: relative;
}
.slider__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.slider__info > span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 5px;
}
.slider__info > span.yellow {
    background-color: #f29500;
}
.slider__info > span.brown {
    background-color: #754800;
}
.slider__info > span.black {
    background-color: #333;
}

.slider__info > h3 {
    color: #333;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}
.slider__info > h3 > em {
    color: #754800;
}
.slider__info > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #754800;
    margin-bottom: 30px;
}

.slider__moreBtn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.slider__moreBtn > .slider__btn.yellow,
.slider__moreBtn > .slider__btn.brown {
}
.slider__moreBtn > .slider__btn > a {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin-right: 10px;
}
.slider__moreBtn > .slider__btn.yellow > a {
    padding: 10px 25px;
    background-color: #f29500;
}
.slider__moreBtn > .slider__btn.brown > a {
    padding: 10px 37px;
    background-color: #754800;
}

@media (max-width: 780px) {
    .slider__info {
        text-align: center;
    }
    .slider__info > h3 {
        font-size: 30px;
    }
    .slider__moreBtn {
        justify-content: center;
    }
}

@media (max-width: 600px){
    .slider__info > span {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .slider__info > h3 {
        font-size: 18px;
    }
    .slider__info > p {
        font-size: 13px;
    }
    .slider__btn {
        margin-bottom: 10px;
    }
    .slider__moreBtn > .slider__btn > a {
        font-size: 12px;
    }
}

